torch
langchain
transformers
flask
langchain
langchain-community
langchain-huggingface
transformers
torch
faiss-cpu
sentence-transformers

#$ python -m venv .venv
#source .venv/bin/activate   # Mac/Linux


